body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  max-height: 200px;
  padding: 1rem;
}

.favoritInfo {
  display: inline-block;
  max-width: 600px;
}

h3 {
  text-decoration: underline;
  margin-left: 1rem;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  color: grey;
}
